# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
django==4.2.11
keras
tensorflow
noisereduce
pandas
librosa
numpy
boto3
djongo
