<!DOCTYPE html>
<html>
<head>
    <title>Help/FAQ</title>
</head>
<body>
    <h1>Help / FAQ</h1>
    <h2>Navigation Menu</h2>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'help' %}">Help/FAQ</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li> <!-- Add Contact link -->
        <!-- Add more links as needed -->
    </ul>


    <h2>Help Documentation</h2>
    <p>Here are some tips on how to use our application:</p>
    <ul>
        <li>Use the search page to input your query or upload an audio file for analysis.</li>
        <li>Click on the search button to initiate the query process.</li>
        <li>Once the results are displayed, you can listen to audio recordings, view metadata, and explore visualizations.</li>
        <!-- Add more documentation as needed -->
    </ul>


    <h2>Frequently Asked Questions (FAQs)</h2>

    <h3>Q: How do I upload an audio file?</h3>
    <p>A: On the search page, select the option to upload an audio file and choose the file from your device.</p>
    
    <h3>Q: Can I search using keywords?</h3>
    <p>A: Yes, you can enter keywords related to respiratory conditions in the search box.</p>
    <!-- Add more FAQs as needed -->
</body>
</html>
